.glavna {
    display: flex;
    flex-direction: column;
}

.grad {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin: 5px;
}

.naslov {
    align-self: center;
}

div[class^="cb"] {
    align-self: center;
}

.btn {
    align-self: center;
    margin: 15px;
    margin-bottom: 0px;
}

div[class^="prikaz"] {
    display: flex;
    margin: 5px;
    justify-content: space-between;
    flex-wrap: wrap;
}

div[class^="mesec"] {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 45px;
    align-items: center;
}

.obojen {
    background-color: aqua;
}

div[class^="stub"] {
    display: flex;
    flex-direction: column-reverse;
    height: 100px;
    width: 20px;
}

div[class^="forma"] {
    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
    flex: 0 0 300px;
    text-align: center;
    flex-direction: column;
}